body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App {
  text-align: center;

}
.sticky-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

/* Add a black background color to the top navigation */
.topnav {
  overflow: hidden;
  
 width: 100%;
  
  position: fixed;
  
  z-index: 1;
}
h1{
  font-size:25px;
  font-weight: bold;
  
  text-align: center;
  margin-top: 10%;
}
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
 

}


.list-tareas-nombre{
  position: absolute;
width: 111px;
height: 15px;
left: 73px;
top: 331px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 15px;
text-align: center;

color: #000000;
}
.list-tareas-mes{
  position: absolute;
width: 25px;
height: 15px;
left: 73px;
top: 367px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 15px;
text-align: center;

color: #000000;
}
.list-tareas-valor{

  position: absolute;
  width: 31px;
  height: 15px;
  left: 211px;
  top: 367px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  
  color: #000000;

  
}
.topnav a:hover {


  color: #03BFD7;
  
}
.topnav a.active {
  background-color: #03BFD7;
  color: white;
 
}



